<app-heading [heading]="'Dashboard'"></app-heading>
<div class="inner-page d-flex flex-row">
  <div class="inner-page-card">
    <button
      type="button"
      class="btn btn-light btn-lg"
      (click)="notImplemented()"
    >
      Courses
    </button>
  </div>
  <div class="inner-page-card">
    <button
      type="button"
      class="btn btn-light btn-lg"
      (click)="notImplemented()"
    >
      Admission
    </button>
  </div>
  <div class="inner-page-card">
    <button
      type="button"
      class="btn btn-light btn-lg"
      (click)="notImplemented()"
    >
      Study Material
    </button>
  </div>
</div>
