<div class="dashboard-container">
  <app-heading [heading]="'Dashboard'"></app-heading>
  <!-- -->
  <div class="container">
    <div class="m-4">
      <div class="row">
        <div class="col-7">
          <div class="card mb-1 action-btn">
            <div class="card-body d-flex  flex-wrap flex-lg-wrap flex-xl-wrap">
                <div class="inner-page-card">
                  <button
                    type="button"
                    class="btn btn-light btn-lg"
                    [routerLink]="['/student/profile']"
                    [disabled]="profileExist != 'yes'"
                  >
                    Student Profile
                  </button>
                </div>
                <div class="inner-page-card">
                  <button
                    type="button"
                    class="btn btn-light btn-lg"
                    (click)="openApplication()"
                  >
                    Application
                  </button>
                </div>
                
                <div class="inner-page-card">
                  <button
                    type="button"
                    class="btn btn-light btn-lg"
                    [routerLink]="['/admission']"
                    [disabled]="profileExist != 'yes'"
                  >
                    Admission
                  </button>
                </div>
                <div class="inner-page-card">
                  <button
                    type="button"
                    class="btn btn-light btn-lg"
                    [routerLink]="['/courses']"
                    [disabled]="profileExist != 'yes'"
                  >
                    Courses
                  </button>
                </div>
                <div class="inner-page-card">
                  <button
                    type="button"
                    class="btn btn-light btn-lg"
                    [routerLink]="['/contact']"
                    [disabled]="profileExist != 'yes'"
                  >
                    Contact/Query
                  </button>
                </div>
               
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card  mb-1 notification-container">
            <div class="card-body">
              <div class="notification-ui_dd-content">
                <a class="notification-list" *ngFor="let noti of notificationList;let i=index">
                  <div class="notification-list_img">
                     <h3>N{{i+1}}</h3>
                  </div>
                  <div class="notification-list_detail">
                    <p><b>{{noti.sendTo}}</b> <br><br><span class="text-muted">{{noti.content}}</span></p>
                  </div>
                  <p><small>{{getNotiDate(noti.dateOfEntry)}}</small></p>
                </a>   
                <p>You have no notifications.</p>           
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          <div class="card mt-2 advertisement">
            <div class="card-body">
              <app-heading [heading]="'Advertisements'"></app-heading>
              <div class="d-flex justify-content-between flex-wrap mt-3">
                  <div class="ad-image">
                    <h5>Ads Image</h5>
                  </div>
                  <div class="ad-image">
                    <h5>Ads Image</h5>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card  mt-2 broucher">
            <div class="card-body">
              <app-heading [heading]="'Brouchers'"></app-heading>
              <div class="list-item mt-2">
                <u>broucher.pdf</u>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
