@import '/src/sass/utilities/variables';

.side-nav-layout {
  flex-grow: 1 !important;
  overflow: hidden auto;
  .ant-menu-root {
    padding-bottom: 40px;
  }
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: $c-primary-dark;
}