<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <ul nz-menu   style="height:100%" nzMode="inline">
      
      <li nz-menu-item nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="isCollapsed ? 'Dashboard' : ''" nzMatchRouter routerLinkActive="active"  [routerLink]="['/dashboard']">
        <i nz-icon nzType="dashboard"></i>
        <span >Dashboard</span>
      </li>
      <li nz-submenu [nzOpen]="isOpen()" nzTitle="User" nzIcon="user" >
        <ul>
          <li nz-menu-item nzMatchRouter routerLinkActive="active" [routerLink]="['/student/profile']" *ngIf="profileExist == 'yes'">
            <i nz-icon nzType="profile"></i>
            <span>Student Profile</span>           
          </li>
          <li nz-menu-item nzMatchRouter routerLinkActive="active" [routerLink]="['/application']">
            <i nz-icon nzType="setting"></i>
            <span>Application</span>           
          </li>
          <li nz-menu-item nzMatchRouter routerLinkActive="active" [routerLink]="['/admission']"  *ngIf="profileExist == 'yes'" >
            <i nz-icon nzType="profile"></i>
            <span>Admission</span>           
          </li>
          <li nz-menu-item nzMatchRouter routerLinkActive="active" [routerLink]="['/courses']"  *ngIf="profileExist == 'yes'">
            <i nz-icon nzType="book"></i>
            <span>Courses</span>           
          </li>
          <li nz-menu-item nzMatchRouter routerLinkActive="active" [routerLink]="['/contact']"  *ngIf="profileExist == 'yes'">
            <i nz-icon nzType="contacts"></i>
            <span>Contact/Query</span>           
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>