<div class="main-container">
  <div class="row g-3 mb-4">
    <div class="col-2 align-self-end">
      <label class="form-label">ID Card Number</label>
    </div>
    <div class="col-4 pe-4">
      <span>Demo</span>
    </div>
    <div class="col-2 align-self-end">
      <label class="form-label">Batch Number</label>
    </div>
    <div class="col-4">
      <span>Demo</span>
    </div>
  </div>
  <div class="row g-3 mb-4">
    <div class="col-2 align-self-end">
      <label class="form-label">Enrollment Number</label>
    </div>
    <div class="col-4 pe-4">
      <span>Demo</span>
    </div>
    <div class="col-2 align-self-end">
      <label class="form-label">Category</label>
    </div>
    <div class="col-4">
      <span>Demo</span>
    </div>
  </div>
  <div class="row g-3 mb-4">
    <div class="col-2 align-self-end">
      <label class="form-label">Course Center</label>
    </div>
    <div class="col-4 pe-4">
      <span>Demo</span>
    </div>
    <div class="col-2 align-self-end">
      <label class="form-label">Validity Till</label>
    </div>
    <div class="col-4">
      <span>22/7/9000</span>
    </div>
  </div>
  <div class="row g-3 mb-4">
    <div class="col-2 align-self-end">
      <label class="form-label">Certificate</label>
    </div>
    <div class="col-4 pe-4">
      <ng-container>
      </ng-container>
      <ng-container>
        <span><a>Certificate Link</a></span>
      </ng-container>
    </div>
  </div>
</div>