$c-transparent: transparent;
$c-white: #ffffff;
$c-gray-1: #fcfdff;
$c-gray-2: #f2f3f6;
$c-gray-3: #f5f5f5;
$c-gray-4: #c9c9c9;
$c-gray-5: #ababab;
$c-gray-6: #565656;
$c-black: #000000;
$c-black-a-80: #ffffff80;
$c-success-b: #198754;
$c-info-b: #0d6efd;
$c-warning-b: #df9100;
$c-error-b: #dc3545;
$c-primary: #3d8ddb;
$c-primary-light: #689fcb;
$c-primary-dark: #307ac5;
$c-secondary: #308974;
$c-secondary-dark: #227461;

$space--32: -32px;
$space--24: -24px;
$space--16: -16px;
$space--12: -12px;
$space--8: -8px;
$space--4: -4px;
$space--2: -2px;
$space--1: -1px;
$space-0: 0;
$space-1: 1px;
$space-2: 2px;
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;

$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 20px;
$font-size-6: 22px;
$font-size-7: 24px;
$font-size-8: 28px;
