@import '/src/sass/utilities/variables';

.profile-pic {
  width: 150px;
  background-color: $c-gray-2;
  align-items: center;
  .icon {
    font-size: 100px;
    color: $c-gray-5;
  }
  .overlay {
    opacity: 0.4;
    margin-top: $space--24;
  }
}

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}