<div class="row mb-2">
  <div class="col-2">
    <div class="profile-pic d-flex flex-column">
      <i class="bi bi-person-fill icon"></i>
      <ng-container *ngIf="editMode">
        <button
          type="button"
          class="btn kl-btn w-100 btn-secondary btn-sm overlay">
          Change Photo
        </button>
      </ng-container>
    </div>
  </div>
  <div class="col-10">
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Name</label>
      </div>
      <div class="col-4">
       <span>xxxxxx</span>
      </div>
    </div>
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Date of Birth</label>
      </div>
      <div class="col-4">
      <span>dd/mm/yyyy</span>
      </div>
    </div>
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Sex</label>
      </div>
      <div class="col-4">
        <span>Male</span>
      </div>
    </div>
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Nationality</label>
      </div>
      <div class="col-4">
        <span>Indian</span>
      </div>
    </div>
  </div>
</div>
