<div class="row mb-2">
  <div class="col-2">
 
    
    <div class="profile-pic d-flex flex-column" *ngIf="!studentPersonalData?.pictureLink && !previewUrl">
      <i class="bi bi-person-fill icon"></i>
    </div>

    <img *ngIf="previewUrl" [src]="previewUrl" width="150"/>
    <img *ngIf="studentPersonalData?.pictureLink && !previewUrl" [src]="studentPersonalData?.pictureLink" width="150"/>
    <div *ngIf="editMode" class="change mt-2">
      <nz-upload [nzShowUploadList]="false" [(nzFileList)]="fileList"  [nzBeforeUpload]="beforeUpload">
        <button class="btn kl-btn kl-btn-dark-6 btn-sm">
            <i nz-icon nzType="upload"></i>
            Choose Image
        </button>
    </nz-upload> 
    </div>
  </div>
  <div class="col-10">
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Name</label>
      </div>
      <div class="col-4">
       <span>{{studentPersonalData?.applicantName}}</span>
      </div>
    </div>
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Date of Birth</label>
      </div>
      <div class="col-4">
      <span>{{studentPersonalData?.applicantName}}</span>
      </div>
    </div>
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Sex</label>
      </div>
      <div class="col-4">
        <span>{{studentPersonalData?.gender}}</span>
      </div>
    </div>
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Nationality</label>
      </div>
      <div class="col-4">
        <span>{{studentPersonalData?.nationality}}</span>
      </div>
      <div class="col-2">
        <label class="form-label">Employed</label>
      </div>
      <div class="col-4 pe-4">
        <ng-container>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" [disabled]="!editMode" (click)="radioValueCheck('Employed')" name="employmentStatus" [(ngModel)]="employmentStatus" value="Employed" />
            <label class="form-check-label">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" [disabled]="!editMode" (click)="radioValueCheck('Student')" name="employmentStatus" [(ngModel)]="employmentStatus" value="Student" />
            <label class="form-check-label">No</label>
          </div>
        </ng-container>
      </div> 
    </div>
  </div>
</div>
