<div class="row mb-2">
  <div class="col-2">
    <div class="profile-pic d-flex flex-column" *ngIf="!studentPersonalData?.pictureLink">
      <i class="bi bi-person-fill icon"></i>
    </div>
    <img *ngIf="studentPersonalData?.pictureLink" [src]="studentPersonalData?.pictureLink" width="150"/>;
  </div>
  <div class="col-10">
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Name</label>
      </div>
      <div class="col-4">
       <span>{{studentPersonalData?.applicantName}}</span>
      </div>
    </div>
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Date of Birth</label>
      </div>
      <div class="col-4">
      <span>{{studentPersonalData?.applicantName}}</span>
      </div>
    </div>
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Sex</label>
      </div>
      <div class="col-4">
        <span>{{studentPersonalData?.gender}}</span>
      </div>
    </div>
    <div class="row g-3 mb-2">
      <div class="col-2 align-self-start">
        <label class="form-label">Nationality</label>
      </div>
      <div class="col-4">
        <span>{{studentPersonalData?.nationality}}</span>
      </div>
    </div>
  </div>
</div>
